<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>My app</title>
  </head>
  <body>
    <h2>Static markup from .hbs template</h2>
    <h3>Dynamic markup in template set by webpack config: {{htmlWebpackPlugin.options.title}}</h3>
  </body>
</html>