* {
  padding: 10px;
}

.root {
  color: black;
  border: 3px solid black;
}

.red {
  color: red;
  border-bottom: 3px solid red;
}

.green {
  color: green;
  border-bottom: 3px solid green;
}

.blue {
  color: blue;
  border-bottom: 3px solid blue;
}

.some {
  .nested {
    .shite {
      background-color: purple;
      color: #fff;
    }
  }
}